# 国内镜像(解决 electron/electron-builder 二进制下载被网络重置的问题)
# 若你不在国内网络, 可删除本文件或去掉下面几行, 用官方源。
registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
